.flow .modal-dialog{
  top:50%;
  height:400px;
  margin-top:-200px;
  .modal-content{
    height:100%;
  }
}

.submitBox{
  height:100%;
  .content{
    height: 75%;
  }
  .row{
    margin: 10px;
  }
  hr{
    margin: 0px;
  }
  .pull-right{
    .btn{
      margin-left:1px;
      margin-right: 1px;
    }
  }
}
