.flow .modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;

  //height:400px;
  margin-top: -200px;
  margin-left: -300px;
  .modal-content {

    //height:100%;
  }
}
.submitBox {
  height: 100%;
  .title {
    font-weight: bold;
    font-size: 19px;
    padding: 15px 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #cdcdcd;
  }
  .flownodes {
    padding: 0;
    margin: 0;
    border-right: 1px solid #eee;
    min-height: 200px;
    label{
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      margin: 0;
      width:100%;
    }
  }
  .psns {
    padding: 0;
    margin: 0;
    span{
      margin: 3px 5px 3px 0px;
      padding: 5px 15px 5px 5px;
      background-color: #DFE8F7;
      float: left;
    }
  }
  .flownodes font,
  .psns font {
    width: 100%;
    font-weight: bold;
    padding: 8px;
    line-height: 15px;
    border-bottom: 1px solid #efefef;
    display: block;
    margin-bottom: 5px;
    background-color: #f9f9f9;
  }
  .content {
    height: 75%;
    margin: 0 !important;
  }
  .opinion{
    textarea{
      width: 100%;
    }
  }
  .row {
    margin: 10px;
  }
  hr {
    margin: 0;
  }
  .operate {
    text-align: right;
    .btn {
      margin-left: 1px;
      margin-right: 1px;
    }
  }
  ul {
    list-style: none;
    margin: 0px 10px 10px 15px;
    .active {
      background-color: #6fb3e0;
      color: white;
    }
  }
}


.hidden-title{
  .item-title,.timeline-label{
    display: none;
  }
}
.hidden-value{
  .widget-box{
    display: none;
  }
}
.hidden-self{
  display: none;
}

.timeline {
  position: fixed;
  height: 75%;
  top: 80px;
  right: 15px;

  .scroll-up, .scroll-down{
    width: 100%;
    margin-left: -5px;
    text-align: center;
    cursor: pointer;
    color: #c2c2c2;
    &:hover{
      background-color: #efefef;
    }
  }

  .timeline-content{
    overflow: hidden;
    height: 95%;
  }

  .timeline-container{
    position: relative;
    top: 0px;
    // -webkit-transition: top .9s ease-in;
    // -moz-transition: top .1s ease-in;
    // -o-transition: top .1s ease-in;
    // -ms-transition: top .1s ease-in;
    // transition: top .9s ease-in;
  }

  .timeline-label{
      width:77px;
  }
  .transparent {
    padding: 0 5px 5px 5px;

  }
  .timeline-item {
    //line-height: 2em;

    &:first-child::before {
      display:block;
    }

    .transparent i ,.timeline-info i{
      width:12px;
      margin-right: 5px;
    }
    .timeline-info {
      text-align: right;
      .item-title{
        padding-right: 25px;
      }
    }
  }
}

.timeline-detail-info{
  width: 200px;
  max-width: 200px;
  .popover-title{
    position: relative;
  }
  .tooltip-arrow{
    border-width: 11px 0 11px 11px;
    top:4px;
    right:-10px;
  }
  .popover-content i{
    margin-right: 5px;
  }
}

.submit{
  .popover-title {
    background-color:#8BC34A;
  }
  .tooltip-arrow{
    border-left-color: #8BC34A;
    -moz-border-left-colors: #8BC34A;
  }
  .timeline-indicator{
    background-color:#87B87F !important;
    border-color:#87B87F;
  }
}

.reject{
  .popover-title {
    background-color:#FFB752 ;
  }
  .tooltip-arrow {
    border-left-color: #FFB752;
    -moz-border-left-colors: #FFB752;
  }
  .timeline-indicator{
    background-color:#FFB752 !important;
    border-color:#FFB752;
  }
}
