@import (css) '~rctui/node_modules/purecss/build/grids.css';
@import (css) '~rctui/node_modules/purecss/build/grids-responsive.css';

.custom-scrollbar{
  overflow: hidden;
  position: relative;
  height: 500px;
}

#form {
  .ace-nav > li{
    line-height: 0;
    height:auto;
  }

  //表单容器
  .container {
    margin-top: 15px;
  }
  //强制居中表单容器
  .container-center {
    margin-left:auto !important;
  }

  // .opinion {
  //   overflow: hidden;
  //   hr {
  //     margin: 10px 0;
  //   }
  // }
  // .fixed {
  //   width: 68%;
  //   position: fixed;
  //   bottom: 2px;
  //   padding: 10px;
  //   margin-left: -13px;
  //   border: 1px solid #c5d0dc;
  //   background-color: white;
  //   & > div {
  //     margin: 0;
  //   }
  // }

  .form-content {
    border: 1px solid #c5d0dc;
    padding: 10px;
  }

  //页签下 表单区块不显示边框
  .tab-content .form-content {
    border: 0;
    padding: 0;
  }

  fieldset{
    padding: 0;
    legend{
      margin-bottom: 0.75em;
    }
  }

  //重新定义字段组样式
  .pure-control-group {

    margin-bottom: 8px;

    //字段标题
    .label {
      //top: 0.4em;
      line-height: 0;
      padding: 0 0.2em 0.6em 0.3em;
      background-color: transparent !important;
      color: #464646;
      font-size: 14px;
    }

    //字段 原样式为圆角,这里统一设置为方角
    .form-control {
      border-radius: 0;
      margin: 0;
      min-height: 36px;
      height: auto;
    }
    .radio-group{
        overflow: hidden;
        height: auto;
      }

    //日期选择控件,默认宽度设置为100%,设置为方角
    .datetime {
      width: 100%;
      .date-picker, .day {
        border-radius: 0;
      }
    }

    //下拉框 设置为方角
    .select {
      border-radius: 0;
      .options-wrap .options {
        border-radius: 0;
      }
    }

    /* 调整间距，统一对齐 */
    .single.select::before {
      right: 0.8em;
    }
    //重定义 表单错误提示信息 显示样式
    .error{
      padding: 0;
      margin: 0;
      left: 150px;
      top: 6px;
      border: 0;
      border-radius: 0;
      box-shadow: 0 0 0;
      width: auto;
      &::before{
        display: none;
      }
      &::after{
        display: none;
      }
    }
  }

  .dropdown {
    display: inline-block;
  }

  // 文本框 右侧显示一个图标 样式
  .input-icon-right {
    input[type="text"] {
      padding-right: 24px;
    }

    .fa {
      position: absolute;
      top: 10px;
      right: 8px;
      cursor: pointer;
    }
  }
}
