.org-container{
  //border: 1px solid;
  margin-right: 0px;

}

.org-tree{
  //border-right: 1px solid;
  height: 100%;
  padding:0;
}

.org-content{
  height: 100%;
}

.org-header{
  //border-bottom: 1px solid;
  padding: 0;
  height: 50px;
}

.paging-info {

  margin-top: 5px;

  .pagination {
    margin: 0;

    > li {
      display: inline-block;
    }
  }

  .page-jumper {
    padding: 8px;
  }

  .paging-toggle {
    float: right;

    .badge {
      padding-top: 2px;
    }

    .caret {
      margin-top: 0;
    }

    .dropdown-menu {
      min-width: 50px;
    }
  }
}

.view-breadcrumb {
  display: inline-block;
}

.page-header h1 .ace-icon {
  margin-right: 5px;
}

.frame-toolbar {
  margin: 2px 5px 0 0;
  float: right;
}

.panel-body{
  padding-left: 0;
  padding-top: 7px;
}

.orgTree-header{
  height: 37px;
  border: 1px solid rgb(211, 211, 211);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(239, 239, 239));
  padding-left: 10px;
  font-size: 13px;

  .orgTree-title{
    font-weight: bold;
    line-height: 37px;
    float: left;
  }
  .orgTree-divider{
    float: right;
    line-height: 37px;
    width: 15px;
    text-align: center;
    cursor: pointer;
  }
  .orgTree-search{
    float: right;
    top: -1px;
    width: 0px;
    display: none;
    // overflow: hidden;
    // -moz-transition:all .5s ease-in;
    // -webkit-transition:all .5s ease-in;
    // -o-transition:all .5s ease-in;
    // -ms-transition:all .5s ease-in;
    // transition:all .5s ease-in;
    & > input{
      height: 37px;      
    }
  }

  .orgTree-search-show{
    width: 80%;
    display: table;
  }
}

.orgTree-contextMenu {
	position: fixed;
  display: block;
  min-width: 100px;
  width: 120px;
}

.orgTree-contextMenu b{
  padding: 0 5px;
  display: block;
  width: 120px;
  color: #2679B5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-box{
  float: left;
  position: relative;
}
.search-box input{
  padding-right: 23px;
  height: 27px;
  width: 27px;
  float: right;
}
.search-box i{
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}
