.org-container{
  border: 1px solid;
  margin-right: 0px;
  height: 635px;
}

.org-tree{
  border-right: 1px solid;
  height: 100%;

}

.org-content{
  height: 100%;
}

.org-header{
  border-bottom: 1px solid;
  padding: 0;
  height: 50px;
}
