@font-color-active: #2b7dbc;
@background-hover: #eee;

#data-frame {

  .page-header {
    padding-bottom: 7px;
  }

  .btn.btn-link.btn-search-menu-toggle {
    font-size: 18px;
    padding-top: 0 !important;
  }

  .btn-search-menu {
    padding: 0;
    min-width: 120px;

    .nav-tabs {
      position: static;
      width: 140px;
      background-color: #F9F9F9;
      border-right: 1px solid #c5d0dc;
      border-bottom: 0;
      margin-bottom: 1px !important;
    }

    .nav-tabs li > a {
      border-style: none;
      margin-right: 0;
    }

    .nav-tabs li:first-child > a {
      border-top: 0 !important;
    }

    .nav-tabs li.active > a {
      margin-right: -1px;
      border-style: solid;
      color: @font-color-active;
    }

    .nav-tabs:before {
      content: " ";
      display: block;
      width: inherit;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: inherit;
      border-style: inherit;
      border-color: inherit;
      border-width: inherit;
    }

    .tab-content {
      margin-left: 140px;
      min-width: 160px;
      padding: 10px 0 0 0;
      border: 0;

      ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
      }

      ul li {
        color: #585858;
        padding: 8px 0 8px 15px;
        cursor: pointer;
      }

      ul li:hover {
        background-color: @background-hover;
      }

      ul li:first-child {
        margin-top: -8px;
      }

      ul li.active {
        color: @font-color-active;
      }

      dl {
        margin-left: 10px;
        min-width: 280px;
      }

      dl dt {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      dl dt:first-child {
        margin-top: 0;
      }

      dl dd {
        cursor: pointer;
        display: inline-block;
        padding: 5px;
      }

      dl dd:hover {
        background-color: @background-hover;
      }

      dl dd.active {
        color: @font-color-active;
      }
    }
  }

  .view-breadcrumb {
    display: inline-block;
  }

  .page-header h1 .ace-icon {
    margin-right: 5px;
  }

  .frame-toolbar {
    margin: 2px 5px 0 0;
    float: right;
  }
}
