@defaultNodeHeight : 40px;     //环节默认高度
@defaultNodeWidth : 140px;     //环节默认宽度
@StartAndEndNodeWidth : 70px;  //开始和结束环节 默认宽度

@nodebgColor: #cacdcf; //环节默认背景色
@donebgColor: #8bc34a; //已完成环节背景色
@curbgColor: #129fea;  //当前环节背景色
@doneFontColor: #fff;  //已完成环节字体颜色
//流程画布样式
.canvas {
  height: auto;
  min-height: 500px;
  width: 100%;
  position: relative;
}
//在表单中显示时不显示画布边框
.form-content .canvas {
  border: 0;
}
//只读时hover时鼠标指针图标为默认图标
.readonly {
  cursor: default !important;
}
.readonly * {
  cursor: default !important;
}
//连线的样式
path {
  cursor: pointer;
}
//环节默认样式
.task {
  position: absolute;
  z-index: 11;
  width: @defaultNodeWidth;
  height: @defaultNodeHeight;
  background-color: @nodebgColor;

  padding: 0;
  margin: 0 20px 20px 0;
  overflow: hidden;

  border-radius: 14px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

  font-size: 13px;
  font-family: 微软雅黑;
  color: #666;
  text-align: center;
  display: table;
  cursor: move;

  .task-name{
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }
  .task-operate{
    right: 5px;
    top:0;
    position: absolute;
    width:16px;
    height:100%;
    display: none;
    cursor: pointer;
  }
  &:hover .task-operate{
    display: block;
  }
}
//开始和结束环节样式
.start, .end {
  width: @StartAndEndNodeWidth;
}
//条件环节样式
.decision{
  background-color: transparent;
  background-image:  url("../../images/ling.png");
  background-size: 100% 100%;
  box-shadow: 0 0 0;
  border-radius: 0;
}
//条件环节已完成的样式
.decision.done{
  background-color: transparent;
  background-image:  url("../../images/ling_done.png");
  background-size: 100% 100%;
  box-shadow: 0 0 0;
}
//非条件环节已完成后的样式
.done {
  background-color: @donebgColor;
  color: @doneFontColor;
}
//文本环节样式
.text {
	background-color: transparent;
	z-index: 12;
	text-align: left;
	width: auto;
	border-radius: 0px;
	box-shadow: 0px 0px 0px;
	padding-right: 20px;
}
//当前环节样式
.cur {
  background-color: @curbgColor;
  color: @doneFontColor;
}
