@import (css) "~fixed-data-table/dist/fixed-data-table.css";

.grid {

  border: 1px solid #ccc;
  padding: 5px;

  .grid-toolbar {
    margin-bottom: 5px;
  }

  .public_fixedDataTable_bodyRow {
    cursor: pointer;
  }

  &.readonly .public_fixedDataTable_bodyRow {
    cursor: auto;
  }
}
